{% include 'head.html' ignore missing %} 
{% include 'side.html' ignore missing %} 
<!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <!-- <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                        <li class="active">
                            <i class="fa fa-home"></i>&nbsp;控制面板
                        </li>
                    </ul>
                </div> -->
                <!-- /Page Breadcrumb -->
                <!-- Page Body -->
                <div class="page-body">
                	<div class="row">
                		<div class="col-xs-12">
                			<div class="widget">
                				<div class="widget-header">
                					<span class="widget-caption">IoCs-EMALI</span>
                					<div class="widget-buttons">
                						<ul class="pagination pagination-sm">
                							<li class="disabled"><a href="#">«</a></li>
                                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">»</a></li>
                						</ul>
                					</div>
                				</div>
                				<div class="widget-body">
                					<table class="table table-hover table-bordered">
                						<thead>
                							<tr>
                                                <th>发现时间</th>
                                                <th>IoCs</th>
												<th>tag</th>
                                                <th>reference</th>
                							</tr>
                						</thead>
                						<tbody>
                							<tr>
                                                <td>2017-08-29 09:47:37</td>
                                                <td>nexuszeta1337@gmail.com</td>
                                                <td>
                                                    <a class="btn btn-azure btn-xs" class="btn btn-azure btn-xs">拒绝服务攻击</a>
                                                    <a class="btn btn-azure btn-xs" class="btn btn-azure btn-xs">蜜罐捕获</a>
                                                    <a class="btn btn-azure btn-xs" class="btn btn-azure btn-xs">木马</a>
                                                </td>
                                                <td><a href="https://x.threatbook.cn/nodev4/vb4/article?threatInfoID=302" target="_blank">https://x.threatbook.cn/nodev4/vb4/article?threatInfoID=302</href></td>
											</tr>
                						</tbody>
                					</table>
                				</div>
                			</div>
                		</div>
                	</div>
                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->

        </div>
        <!-- /Page Container -->
        <!-- Main Container -->

    </div>

    {% include 'js.html' ignore missing %} 
    <script>
        $(window).bind("load", function () {

            /*Sets Themed Colors Based on Themes*/
            themeprimary = getThemeColorFromCss('themeprimary');
            themesecondary = getThemeColorFromCss('themesecondary');
            themethirdcolor = getThemeColorFromCss('themethirdcolor');
            themefourthcolor = getThemeColorFromCss('themefourthcolor');
            themefifthcolor = getThemeColorFromCss('themefifthcolor');

        });
    </script>
</body>
<!--  /Body -->
</html>

