            <!-- Page Sidebar -->
            <div class="page-sidebar" id="sidebar">
                <ul class="nav sidebar-menu">
                	<li class="active">
                		<a href="/">
                			<i class="menu-icon glyphicon glyphicon-home"></i>
                			<span class="menu-text">系统详情</span>
                		</a>
                	</li>
                	<li>
                		<a href="/" class="menu-dropdown">
                			<i class="menu-icon glyphicon glyphicon glyphicon-th"></i>
                			<span class="menu-text">告警管理</span>
                			<i class="menu-expand"></i>
                		</a>
                		<ul class="submenu">
                			<li>
                				<a href="/alert_rule">
                					<span class="menu-text">规则告警</span>
                				</a>
                			</li>
                			<li>
                				<a href="/alert_ioc">
                					<span class="menu-text">IoCs告警</span>
                				</a>
                			</li>
                		</ul>
                	</li>
                	<li>
                		<a href="/" class="menu-dropdown">
                			<i class="menu-icon glyphicon glyphicon glyphicon-th"></i>
                			<span class="menu-text">流量分析</span>
                			<i class="menu-expand"></i>
                		</a>
                		<ul class="submenu">
                			<li>
                				<a href="proto?type=dns">
                					<span class="menu-text">dns</span>
                				</a>
                			</li>
                			<li>
                				<a href="proto?type=tls">
                					<span class="menu-text">tls</span>
                				</a>
                            </li>
                            <li>
                				<a href="proto?type=http">
                					<span class="menu-text">http</span>
                				</a>
                            </li>
                		</ul>
                    </li>
                    <li>
                		<a href="/" class="menu-dropdown">
                			<i class="menu-icon glyphicon glyphicon glyphicon-th"></i>
                			<span class="menu-text">本地IoCs</span>
                			<i class="menu-expand"></i>
                		</a>
                		<ul class="submenu">
                			<li>
                				<a href="ioc?type=ip">
                					<span class="menu-text">IP</span>
                				</a>
                			</li>
                			<li>
                				<a href="ioc?type=url">
                					<span class="menu-text">URL</span>
                				</a>
                            </li>
                            <li>
                				<a href="ioc?type=hash">
                					<span class="menu-text">hash</span>
                				</a>
                            </li>
                            <li>
                				<a href="ioc?type=email">
                					<span class="menu-text">email</span>
                				</a>
                            </li>
                            <li>
                				<a href="ioc?type=domain">
                					<span class="menu-text">domain</span>
                				</a>
                			</li>
                		</ul>
                    </li>
                    <li>
                		<a href="/" class="menu-dropdown">
                			<i class="menu-icon glyphicon glyphicon glyphicon-th"></i>
                			<span class="menu-text">服务发现</span>
                			<i class="menu-expand"></i>
                		</a>
                		<ul class="submenu">
                			<li>
                				<a href="service">
                					<span class="menu-text">服务发现</span>
                				</a>
                			</li>
                		</ul>
                	</li>
                </ul>
            </div>
            <!-- /Page Sidebar -->